
.text-funcionando{
color:blue! important;
}
.w-100 {
width: 100%!important;
height: 500px;
}

.logo-topo>img {
/* max-width: 258px; */
margin-top: 3px;
margin-bottom: 3px;
}

.row-navbar{
margin-bottom: 10px;
}
.row.sidebar-menu {
/* margin-top: 40px; */
}

.row-lsstar{
    /* margin-top: 54px; */
}

img.img-fornecedores{
max-width: 70px;
height: 70px;
}
.footer {
margin-bottom: 15px;
padding: 10px;
}

.fornecedores {
margin-bottom: 40px;
padding: 10px;
}

img.img-minha-casa-minha-vida {
    max-width: 58px;
}

.row-financiamento {
margin-top: 30px;
/* margin-top: 113px; */
}

.row-casa {
margin-top: 50px;
}

p.text-casa-titulo {
    margin-bottom: 0px;
margin-top: 13px;
font-weight: bold;
}

p.text-bold.text-casas {
margin: 4px 0px 0px 0px;

}

.icon-social-media-header {
font-size: 2rem;
}

  .row-space{
  margin-top:5px;
  }
  .sombra {
  box-shadow: 0 1px 10px rgba(0,0,0,0.19), 0 2px 2px rgba(0,0,0,0.23);
  }

  .sidebar-left {
padding-left: 24px;
}

  .navbar{
    padding: .0rem 1rem;
    }

    .nav-side-menu {
overflow: auto;
font-family: verdana;
font-size: 12px;
    }

    .navbar {
padding: .0rem 0rem;
}

.text-top-without-space {
    margin-bottom: 2px;
}
.text-lsstar {
    color: #5600ff! important;
}
.card-body {
    padding-bottom: 0px! important;
}

.texto-las-palmas {
    font-size: 21px;
}