.img-casas > img {
    

    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.66);
    margin-top: 10px;
}

@media (max-width: 420px){
/*    .img-casas > img {
        height: 60px;
    }*/
}


.sombra{
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.banner{
    margin-bottom: 6px;
    margin-top: 5px;
}

   .google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }

.centered {
    margin: 0 auto !important;
    float: none !important;
}

ul.style-none > li{
	list-style-type: none;
	}
        
        span.title-casa{
            font-size: 24px;
        }